.orange-text {
    color: rgb(186, 121, 0);
}

h1 {
    font-size: 3.25em;
    text-align: center;
    margin-top: 7%;
}

@font-face {
    font-family: 'Quicksand';
    src: url("/fonts/Quicksand-Regular.ttf") format('truetype');
}

body {
    font-family: 'Quicksand', sans-serif;
    font-weight: 100;
}

body header h1 {
    color: rgb(82, 80, 80);
    text-align : center;
}

body header h2 {
    font-size: 1.3em;
    color: rgb(115, 115, 115);
    text-align: center;
}

.curriculum-button {
    display: block;
    margin: 30px auto;
    padding: 13px 22px;
    font-size: 1em;
    color: rgb(115, 115, 115);
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid rgb(115, 115, 115);
    border-radius: 10px;
    cursor: pointer;
}

.curriculum-button:hover {
    background-color: rgb(236, 236, 236);
    transition: background-color 0.3s ease, color 0.3s ease;
}