.orange-text {
    color: rgb(186, 121, 0);
}

h1 {
    font-size: 3.25em;
    text-align: center;
    margin-top: 7%;
}

@font-face {
    font-family: 'Quicksand';
    src: url("Quicksand-Regular.ttf") format('truetype');
}

body {
    font-family: 'Quicksand', sans-serif;
    font-weight: 100;
}

body header h1 {
    color: rgb(82, 80, 80);
    text-align : center;
}

body header h2 {
    font-size: 1.3em;
    color: rgb(115, 115, 115);
    text-align: center;
}