.orange-text {
    color: orange;
}

h1 {
    font-size: 50px;
    text-align: center;
    margin-top: 7%;
}

@font-face {
    font-family: 'Roboto';
    src: url('Roboto-VariableFont_wdth\,wght.ttf') format('truetype');
}

body {
    font-family: 'Source Code Pro', monospace;
    font-weight: 100;
}