.orange-text {
    color: rgb(186, 121, 0);
}

h1 {
    font-size: 3.25em;
    text-align: center;
    margin-top: 7%;
}

@font-face {
    font-family: 'Quicksand';
    src: url("../fonts/Quicksand-Regular.ttf") format('truetype');
}

body {
    font-family: 'Quicksand', sans-serif;
    font-weight: 800;
}

body header h1 {
    color: rgb(80, 80, 80);
    text-align: center;
}

body header h2 {
    font-size: 1.3em;
    color: rgb(80, 80, 80);
    text-align: center;
}

body main h2 {
    font-size: 2em;
    color: rgb(80, 80, 80);
    margin-top: 50px;
}

body main p {
    font-size: 1.15em;
    color: rgb(80, 80, 80);
    margin-top: 20px;
}

body main {
    text-align: center;
}

.curriculum-button {
    display: block;
    margin: 30px auto;
    padding: 13px 22px;
    font-size: 1.1em;
    color: rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid rgb(115, 115, 115);
    border-radius: 10px;
    cursor: pointer;
    font-family: 'Quicksand', sans-serif;
}

.curriculum-button:hover {
    background-color: rgb(236, 236, 236);
    transition: background-color 0.3s ease, color 0.3s ease;
}

/* REMOVED because the gap of 200px prevents responsive design */
/* ENLEVER car le gap de 200px empêche le responsive */
/* .images {
    display: flex;
    justify-content: center;
    gap: 200px;
    margin-top: 30px;
} */

/* So that the images are not too close to the text on mobile */
/* Pour que les images ne soient pas trop collées au texte sur mobile */
.col-12 img {
    max-width: 150px;
    margin: 0 auto;
    display: block;
}

/* Bootstrap...grid ? START*/
.img-container {
    height: 150px;
    /* Explicit height */
    display: flex;
    align-items: center;
    /* Centré verticalement */
    justify-content: center;
    /* Centré horizontalement */
    margin-bottom: 15px;
}

.img-container img {
    max-height: 100%;
    /* dépasse jamais les 150px */
    width: auto;
    /* Garde les proportions originales */
    object-fit: contain;
}

.images {
    display: none;
}
/* Bootstrap...grid ? END */
